@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(bootstrap.css);

html, body { height: 100%; }

body {
	width: 100%; /* needed for FF */
	margin: 0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #FFF;

	/*FF*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: url('/release/img/background.png');
}

h1 {
	text-align: center;
}


div.sayTachanun {
	height: 100%;
	margin: 1em auto;
	text-align: center;
	background: green;
}

div.skipTachanun {
	height: 100%;
	margin: 1em auto;
	text-align: center;
	background: red;
}